<!-- Portfolio start -->
<section id="works" class="module pb-0">
  <div class="container">

    <div class="row">

      <div class="col-sm-6 col-sm-offset-3">

        <h2 class="module-title font-alt title-margin">Our Story</h2>

      </div>

    </div><!-- .row -->

    <div class="row">

      <div class="col-sm-12">

        <ul id="filters" class="filter font-alt hidden-xs">
          <li><a href="#" data-filter="*" class="current wow fadeInUp">All</a></li>
          <li><a href="#" data-filter=".monterey" class="wow fadeInUp" data-wow-delay="0.2s">Monterey</a></li>
          <li><a href="#" data-filter=".friends" class="wow fadeInUp" data-wow-delay="0.4s">Friends</a></li>
          <li><a href="#" data-filter=".new-england" class="wow fadeInUp" data-wow-delay="0.6s">New England</a></li>
          <li><a href="#" data-filter=".cake" class="wow fadeInUp" data-wow-delay="0.8s">Cake</a></li>
        </ul>

      </div>

    </div><!-- .row -->

  </div><!-- .container -->

  <!-- Portfolio list start -->
  <ul id="works-grid" class="works-grid works-grid-gut works-grid-3 works-hover-w">

    <!-- Portfolio item start -->
    <li class="work-item monterey friends">
      <a href="portfolio-single-1.html">
        <div class="mover50 work-image">
          <%= image_tag("a-images/hawley.jpg") %>
        </div>
        <div class="work-caption font-alt">
          <h3 class="work-title">Hawley</h3>
          <div class="work-descr">
            <nobr>Hawley introduced us in Monterey <wbr> 2 years ago</nobr>
          </div>
        </div>
      </a>
    </li>
    <!-- Portfolio item end -->

    <!-- Portfolio item start -->
    <li class="work-item friends new-england cake">
      <a href="portfolio-single-1.html">
        <div class="mover15 work-image">
          <%= image_tag("a-images/engaged.jpg") %>
        </div>
        <div class="work-caption font-alt">
          <h3 class="work-title">Engaged!</h3>
          <div class="work-descr">
            <nobr>We got engaged on Mt. Kearsage.<wbr>Taryn took pictures!!</nobr>
          </div>
        </div>
      </a>
    </li>
    <!-- Portfolio item end -->

    <!-- Portfolio item start -->
    <li class="work-item friends cake">
      <a href="portfolio-single-1.html">
        <div class="mover35 work-image">
          <%= image_tag("a-images/cake2.jpg") %>
        </div>
        <div class="work-caption font-alt">
          <h3 class="work-title">Cake</h3>
          <div class="work-descr">
            We adopted cake on the 3rd of July.
          </div>
        </div>
      </a>
    </li>
    <!-- Portfolio item end -->

    <!-- Portfolio item start -->
    <li class="work-item new-england">
      <a href="portfolio-single-1.html">
        <div class="work-image">
          <%= image_tag("a-images/mass.jpg") %>
        </div>
        <div class="work-caption font-alt">
          <h3 class="work-title">Moving</h3>
          <div class="work-descr">
            Kyrstin got a job in Mass so we moved
          </div>
        </div>
      </a>
    </li>
    <!-- Portfolio item end -->

    <!-- Portfolio item start -->
    <li class="work-item monterey">
      <a href="portfolio-single-1.html">
        <div class="mover15 work-image">
          <%= image_tag("a-images/monterey.jpg") %>
        </div>
        <div class="work-caption font-alt">
          <h3 class="work-title">Big Sur</h3>
          <div class="work-descr">
            Our first date was in Big Sur
          </div>
        </div>
      </a>
    </li>
    <!-- Portfolio item end -->

    <!-- Portfolio item start -->
    <li class="work-item new-england cake">
      <a href="portfolio-single-1.html">
        <div class="work-image">
          <%= image_tag("a-images/vermont.jpg") %>
        </div>
        <div class="work-caption font-alt">
          <h3 class="work-title">Vermont</h3>
          <div class="work-descr">
            We stayed in a small cabin in VT during our engagement weekend.
            Cake came.
          </div>
        </div>
      </a>
    </li>
    <!-- Portfolio item end -->

  </ul>
  <!-- Portfolio list end -->

</section>
<!-- Portfolio end -->
