<!-- Portfolio start -->
<section id="works" class="module pb-0">
  <div class="container">

    <div class="row">

      <div class="col-sm-6 col-sm-offset-3">

        <h2 class="module-title font-alt">Our Story</h2>

      </div>

    </div><!-- .row -->

    <div class="row">

      <div class="col-sm-12">

        <ul id="filters" class="filter font-alt hidden-xs">
          <li><a href="#" data-filter="*" class="current wow fadeInUp">All</a></li>
          <li><a href="#" data-filter=".illustration" class="wow fadeInUp" data-wow-delay="0.2s">Illustration</a></li>
          <li><a href="#" data-filter=".marketing" class="wow fadeInUp" data-wow-delay="0.4s">Marketing</a></li>
          <li><a href="#" data-filter=".photography" class="wow fadeInUp" data-wow-delay="0.6s">Photography</a></li>
          <li><a href="#" data-filter=".webdesign" class="wow fadeInUp" data-wow-delay="0.8s">Web Design</a></li>
        </ul>

      </div>

    </div><!-- .row -->

  </div><!-- .container -->

  <!-- Portfolio list start -->
  <ul id="works-grid" class="works-grid works-grid-gut works-grid-3 works-hover-w">

    <!-- Portfolio item start -->
    <li class="work-item illustration webdesign">
      <a href="portfolio-single-1.html">
        <div class="work-image">
          <%= image_tag("a-images/hawley.jpg") %>
        </div>
        <div class="work-caption font-alt">
          <h3 class="work-title">Corporate Identity</h3>
          <div class="work-descr">
            Illustration
          </div>
        </div>
      </a>
    </li>
    <!-- Portfolio item end -->

    <!-- Portfolio item start -->
    <li class="work-item marketing photography">
      <a href="portfolio-single-1.html">
        <div class="work-image">
          <%= image_tag("a-images/engaged.jpg") %>
        </div>
        <div class="work-caption font-alt">
          <h3 class="work-title">Bag MockUp</h3>
          <div class="work-descr">
            Marketing
          </div>
        </div>
      </a>
    </li>
    <!-- Portfolio item end -->

    <!-- Portfolio item start -->
    <li class="work-item illustration photography">
      <a href="portfolio-single-1.html">
        <div class="work-image">
          <%= image_tag("a-images/cake2.jpg") %>
        </div>
        <div class="work-caption font-alt">
          <h3 class="work-title">Disk Cover</h3>
          <div class="work-descr">
            Illustration
          </div>
        </div>
      </a>
    </li>
    <!-- Portfolio item end -->

    <!-- Portfolio item start -->
    <li class="work-item marketing photography">
      <a href="portfolio-single-1.html">
        <div class="work-image">
          <%= image_tag("a-images/mass.jpg") %>
        </div>
        <div class="work-caption font-alt">
          <h3 class="work-title">Business Card</h3>
          <div class="work-descr">
            Photography
          </div>
        </div>
      </a>
    </li>
    <!-- Portfolio item end -->

    <!-- Portfolio item start -->
    <li class="work-item illustration webdesign">
      <a href="portfolio-single-1.html">
        <div class="work-image">
          <%= image_tag("a-images/monterey.jpg") %>
        </div>
        <div class="work-caption font-alt">
          <h3 class="work-title">Business Cards</h3>
          <div class="work-descr">
            Webdesign
          </div>
        </div>
      </a>
    </li>
    <!-- Portfolio item end -->

    <!-- Portfolio item start -->
    <li class="work-item marketing webdesign">
      <a href="portfolio-single-1.html">
        <div class="work-image">
          <%= image_tag("a-images/vermont.jpg") %>
        </div>
        <div class="work-caption font-alt">
          <h3 class="work-title">Business Cards in paper clip</h3>
          <div class="work-descr">
            Marketing
          </div>
        </div>
      </a>
    </li>
    <!-- Portfolio item end -->

  </ul>
  <!-- Portfolio list end -->

</section>
<!-- Portfolio end -->
