<section id="alt-features" class="module">
  <div class="container">

    <div class="row">

      <div class="col-sm-6 col-sm-offset-3">

        <h2 class="module-title font-alt">Camp Paxson</h2>
        <div class="module-subtitle font-serif">
          The camp is located on the shores of Seeley Lake, one of a chain of five lakes nestled between the Swan Mountain Range and the Mission Mountain Range in Western Montana.
        </div>

      </div>

    </div><!-- .row -->

    <div class="row">

      <div class="col-sm-6 col-md-3 col-lg-3">

        <!-- Alt features item start -->
        <div class="alt-features-item no-margin-top">
          <div class="alt-features-icon" >
            <%= icon("fa fa-map-marker") %>
          </div>
          <h3 class="alt-features-title font-alt">Location</h3>
          Located on Seeley Lake just outside Missoula Montana.
        </div>
        <!-- Alt features item end -->

        <!-- Alt features item start -->
        <div class="alt-features-item">
          <div class="alt-features-icon">
            <%= icon("fa fa-home") %>
          </div>
          <h3 class="alt-features-title font-alt">Cabins</h3>
          Camp Paxson has 15 small cabins, all you need to do is bring blankets and a pillow and make sure to let us know if you need one.
        </div>
        <!-- Alt features item end -->

        <!-- Alt features item start -->
        <div class="alt-features-item">
          <div class="alt-features-icon">
            <%= icon("fa fa-map-signs") %>
          </div>
          <h3 class="alt-features-title font-alt">Missoula</h3>
          Camp Paxson is 50 miles from Missoula International Airport, kind of far but worth it.
        </div>
        <!-- Alt features item end -->

        <!-- Alt features item start -->
        <div class="alt-features-item">
          <div class="alt-features-icon">
            <%= icon("fa fa-hand-spock-o") %>
          </div>
          <h3 class="alt-features-title font-alt">Activities</h3>
          Camp Paxson has a volley ball court, horse shoe pit and more. Any ideas to add? Let us know.
        </div>
        <!-- Alt features item end -->

      </div><!-- .col -->

      <!-- Alt features image start -->
      <div class="col-md-6 col-lg-6 hidden-xs hidden-sm">

        <div class="alt-services-image align-center">
          <%= image_tag("a-images/cpax.jpg") %>
        </div>

      </div>
      <!-- Alt features image end -->

      <div class="col-sm-6 col-md-3 col-lg-3">

        <!-- Alt features item start -->
        <div class="alt-features-item no-margin-top">
          <div class="alt-features-icon">
            <%= icon("fa fa-sun-o") %>
          </div>
          <h3 class="alt-features-title font-alt">Weather</h3>
          Montana can vary in July, be prepared for warm days and cold nights and hopefully no rain.
        </div>
        <!-- Alt features item end -->

        <!-- Alt features item start -->
        <div class="alt-features-item">
          <div class="alt-features-icon">
            <%= icon("fa fa-beer") %>
          </div>
          <h3 class="alt-features-title font-alt">Alcohol</h3>
          Camp Paxson allows BYOB. We also will have cameras and will blackmail you if you get out of control.
        </div>
        <!-- Alt features item end -->

        <!-- Alt features item start -->
        <div class="alt-features-item">
          <div class="alt-features-icon">
            <%= icon("fa fa-female") %>
          </div>
          <h3 class="alt-features-title font-alt">Bathrooms</h3>
          There is a mens bath house and a womens bath house. Dont forget shower sandles.
        </div>
        <!-- Alt features item end -->

        <!-- Alt features item start -->
        <div class="alt-features-item">
          <div class="alt-features-icon">
            <%= icon("fa fa-fire") %>
          </div>
          <h3 class="alt-features-title font-alt">Fire</h3>
          We will have an update on whether or not we will be able to have any fires when the date get closer.
        </div>
        <!-- Alt features item end -->

      </div><!-- .col -->

    </div><!-- .row -->

  </div>
</section>
