
	<!-- Preloader -->
	<div class="page-loader">
		<div class="loader">Loading...</div>
	</div>

	<!-- Navigation start -->

	<!-- Navigation end -->

	<!-- Home start -->
	<section id="home" class="home-section home-parallax home-fade home-full-height bg-dark-30" data-background="<%= image_path("a-images/montana.jpg") %>">

		<div class="hs-caption">
			<div class="caption-content">
				<div class="hs-title-size-1 font-alt mb-30">
					join us in
				</div>
				<div class="hs-title-size-4 font-alt mb-40">
					Montana
				</div>
				<a href="#about" class="section-scroll btn btn-border-w btn-round">RSVP</a>
			</div>
		</div>

	</section >
	<!-- Home end -->

	<!-- Wrapper start -->
	<div class="main">

		<!-- About start -->
		<section id="about" class="module">
			<div class="container">

				<div class="row">

					<div class="col-sm-8 col-sm-offset-2">

						<h2 class="module-title font-alt">Welcome to our wedding site</h2>
						<div class="module-subtitle font-serif large-text">
							Thanks for visiting our wedding page! With the help of our crack team of developers we have compiled all the info you will need to join us in Montana.
							If you need any other information please use our contact page!
						</div>

					</div>

				</div><!-- .row -->

				<div class="row align-center">
					<div class="col-sm-12">
							<a href="#" class="btn btn-d btn-round contact-btn">contact us</a>
						</div>
					</div>

					<div class="col-sm-2 col-sm-offset-5">
						<div class="large-text align-center">
							<a href="#features" class="section-scroll">
								<%= icon("angle-down") %> </a>
						</div>
					</div>
				</div>

			</div><!-- .container -->
		</section>
		<!-- About end -->

		<!-- Divider -->
		<hr class="divider-w">
		<!-- Divider -->

		<!-- our story start -->
		<%= render 'homes/ourstory' %>

		<!-- our story end -->

		<!-- Divider -->
		<hr class="divider-w margin-top">
		<!-- Divider -->

		<!-- Callout start -->
		<!-- Callout end -->

		<!-- Alt features start -->
		<%= render 'homes/venue' %>
		<!-- Alt features end -->

		<!-- Divider -->
		<hr class="divider-w">
		<!-- Divider -->

		<!-- Team start -->
		<%= render 'homes/team' %>
		<!-- Team end -->

		<!-- Count to start -->
		<%= render 'homes/planning' %>
		<!-- Count to end -->


		<!-- Testimonials start -->
		<%= render 'homes/userposts' %>
		<!-- Testimonials end -->


		<!-- Testimonials start -->
		<%= render 'homes/blogposts' %>
		<!-- Testimonials end -->


<!-- HALLLP google map shit -->
		<!-- Map start -->

		<!-- <section id="map-section">
			<div id="map"></div>
		</section> -->

		<!-- Map end -->

		<!-- Widgets start -->
		<div class="module-small bg-dark">
			<div class="container">

				<div class="row">

					<div class="col-sm-3">

						<!-- Widget start -->
						<div class="widget">
							<h5 class="widget-title font-alt">About Us</h5>
							<p>A team full of scrappy devs with a Cake to back us up.</p>
							<p>Phone: +Number</p>
							<p>Email: use the <a href="#">contact page</a> please</p>
						</div>
						<!-- Widget end -->

					</div>

					<div class="col-sm-3">

						<!-- Widget start -->
						<div class="widget">
							<h5 class="widget-title font-alt">Recent Comments</h5>
							<ul class="icon-list">
								<li>Maria on <a href="#">Designer Desk Essentials</a></li>
								<li>John on <a href="#">Realistic Business Card Mockup</a></li>
								<li>Andy on <a href="#">Eco bag Mockup</a></li>
								<li>Jack on <a href="#">Bottle Mockup</a></li>
								<li>Mark on <a href="#">Our trip to the Alps</a></li>
							</ul>
						</div>
						<!-- Widget end -->

					</div>

					<div class="col-sm-3">

						<!-- Widget start -->
						<div class="widget">
							<h5 class="widget-title font-alt">Categories</h5>
							<ul class="icon-list">
								<li><a href="#">Photography - 7</a></li>
								<li><a href="#">Web Design - 3</a></li>
								<li><a href="#">Illustration - 12</a></li>
								<li><a href="#">Marketing - 1</a></li>
								<li><a href="#">WordPress - 16</a></li>
							</ul>
						</div>
						<!-- Widget end -->

					</div>

					<div class="col-sm-3">

						<!-- Widget start -->
						<div class="widget">
							<h5 class="widget-title font-alt">Popular posts</h5>
							<ul class="widget-posts">

								<li class="clearfix">
									<div class="widget-posts-image">
										<a href="#"><img src="assets/images/rp-1.jpg" alt=""></a>
									</div>
									<div class="widget-posts-body">
										<div class="widget-posts-title">
											<a href="#">Designer Desk Essentials</a>
										</div>
										<div class="widget-posts-meta">
											23 November
										</div>
									</div>
								</li>

								<li class="clearfix">
									<div class="widget-posts-image">
										<a href="#"><img src="assets/images/rp-2.jpg" alt=""></a>
									</div>
									<div class="widget-posts-body">
										<div class="widget-posts-title">
											<a href="#">Realistic Business Card Mockup</a>
										</div>
										<div class="widget-posts-meta">
											15 November
										</div>
									</div>
								</li>

							</ul>
						</div>
						<!-- Widget end -->

					</div>

				</div><!-- .row -->

			</div>
		</div>
		<!-- Widgets end -->

		<!-- Divider -->
		<hr class="divider-d">
		<!-- Divider -->

		<!-- Footer start -->
		<footer class="footer bg-dark">
			<div class="container">

				<div class="row">

					<div class="col-sm-6">
						<p class="copyright font-alt">© 2015 <a href="index.html">TeamRogehaus</a>, All Rights Reserved.</p>
					</div>

					<div class="col-sm-6">
						<div class="footer-social-links">
							<a href="https://www.facebook.com/Steavo"><i class="fa fa-facebook"></i></a>
							<a href="https://twitter.com/rogehaus"><i class="fa fa-twitter"></i></a>
							<a href="https://github.com/Steavod19/wedding-site"><i class="fa fa-github"></i></a>
						</div>
					</div>

				</div><!-- .row -->

			</div>
		</footer>
		<!-- Footer end -->

	</div>
	<!-- Wrapper start -->

	<!-- Scroll-up -->
	<div class="scroll-up">
		<a href="#totop"><i class="fa fa-angle-double-up"></i></a>
	</div>
