
	<!-- Preloader -->
	<div class="page-loader">
		<div class="loader">Loading...</div>
	</div>

	<!-- Navigation start -->

	<!-- Navigation end -->

	<!-- Home start -->
	<section id="home" class="home-section home-parallax home-fade home-full-height bg-dark-30" data-background="<%= image_path("a-images/montana.jpg") %>">

		<div class="hs-caption">
			<div class="caption-content">
				<div class="hs-title-size-1 font-alt mb-30">
					join us in
				</div>
				<div class="hs-title-size-4 font-alt mb-40">
					Montana
				</div>
				<a href="#about" class="section-scroll btn btn-border-w btn-round">RSVP</a>
			</div>
		</div>

	</section >
	<!-- Home end -->

	<!-- Wrapper start -->
	<div class="main">

		<!-- About start -->
		<section id="about" class="module">
			<div class="container">

				<div class="row">

					<div class="col-sm-8 col-sm-offset-2">

						<h2 class="module-title font-alt">Welcome to our wedding site</h2>
						<div class="module-subtitle font-serif large-text">
							Thanks for visiting our wedding page! With the help of our crack team of developers we have compiled all the info you will need to join us in Montana.
							If you need any other information please use our contact page!
						</div>

					</div>

				</div><!-- .row -->

				<div class="row align-center">
					<div class="col-sm-12">
							<a href="#" class="btn btn-d btn-round contact-btn">contact us</a>
						</div>
					</div>

					<div class="col-sm-2 col-sm-offset-5">
						<div class="large-text align-center">
							<a href="#features" class="section-scroll">
								<%= icon("angle-down") %> </a>
						</div>
					</div>
				</div>

			</div><!-- .container -->
		</section>
		<!-- About end -->

		<!-- Divider -->
		<hr class="divider-w">
		<!-- Divider -->

		<!-- our story start -->
		<%= render 'homes/ourstory' %>

		<!-- our story end -->

		<!-- Divider -->
		<hr class="divider-w margin-top">
		<!-- Divider -->

		<!-- Callout start -->
		<!-- Callout end -->

		<!-- Alt features start -->
		<%= render 'homes/venue' %>
		<!-- Alt features end -->

		<!-- Divider -->
		<hr class="divider-w">
		<!-- Divider -->

		<!-- Team start -->
		<%= render 'homes/team' %>
		<!-- Team end -->

		<!-- Count to start -->
		<section class="module bg-dark-60" data-background="assets/images/section-3.jpg">
			<div class="container">

				<div class="row">

					<div class="col-sm-6 col-sm-offset-3">

						<h2 class="module-title font-alt">Scoreboard</h2>

					</div>

				</div><!-- .row -->

				<div class="row multi-columns-row">

					<!-- CountTo start -->
					<div class="col-sm-6 col-md-3 col-lg-3">
						<div class="count-item mb-sm-40">
							<div class="count-icon">
								<span class="icon-wallet"></span>
							</div>
							<h3 class="count-to font-alt" data-countto="6543"></h3>
							<h5 class="count-title font-serif">Dollars raised for charity</h5>
						</div>
					</div>
					<!-- CountTo end -->

					<!-- CountTo start -->
					<div class="col-sm-6 col-md-3 col-lg-3">
						<div class="count-item mb-sm-40">
							<div class="count-icon">
								<span class="icon-wine"></span>
							</div>
							<h3 class="count-to font-alt" data-countto="8"></h3>
							<h5 class="count-title font-serif">Cups of wine consumed</h5>
						</div>
					</div>
					<!-- CountTo end -->

					<!-- CountTo start -->
					<div class="col-sm-6 col-md-3 col-lg-3">
						<div class="count-item mb-sm-40">
							<div class="count-icon">
								<span class="icon-camera"></span>
							</div>
							<h3 class="count-to font-alt" data-countto="184"></h3>
							<h5 class="count-title font-serif">Photographs taken</h5>
						</div>
					</div>
					<!-- CountTo end -->

					<!-- CountTo start -->
					<div class="col-sm-6 col-md-3 col-lg-3">
						<div class="count-item mb-sm-40">
							<div class="count-icon">
								<span class="icon-map-pin"></span>
							</div>
							<h3 class="count-to font-alt" data-countto="32"></h3>
							<h5 class="count-title font-serif">Locations covered</h5>
						</div>
					</div>
					<!-- CountTo end -->

				</div><!-- .row -->

			</div>
		</section>
		<!-- Count to end -->

		<!-- Pricing start -->
		<section id="pricing" class="module">
			<div class="container">

				<div class="row">

					<div class="col-sm-6 col-sm-offset-3">

						<h2 class="module-title font-alt">Pricing</h2>
						<div class="module-subtitle font-serif">
							A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.
						</div>

					</div>

				</div><!-- .row -->

				<div class="row multi-columns-row">

					<!-- Price table start -->
					<div class="col-sm-6 col-md-3 col-lg-3">

						<div class="price-table font-alt">
							<h4>Light</h4>
							<div class="borderline"></div>
							<p class="price"><span>$</span>9</p>
							<ul class="price-details">
								<li>Free Support</li>
								<li>15 Demos Included</li>
								<li><span>Newsletter</span></li>
								<li><span>Working Contact Form</span></li>
								<li><span>Unlimited Domains</span></li>
							</ul>
							<a href="#" class="btn btn-d btn-round">blah</a>
						</div>

					</div>
					<!-- Price table end -->

					<!-- Price table start -->
					<div class="col-sm-6 col-md-3 col-lg-3">

						<div class="price-table font-alt">
							<h4>Basic</h4>
							<div class="borderline"></div>
							<p class="price"><span>$</span>29</p>
							<ul class="price-details">
								<li>Free Support</li>
								<li>15 Demos Included</li>
								<li>Newsletter</li>
								<li><span>Working Contact Form</span></li>
								<li><span>Unlimited Domains</span></li>
							</ul>
							<a href="#" class="btn btn-d btn-round">blah</a>
						</div>

					</div>
					<!-- Price table end -->

					<!-- Price table start -->
					<div class="col-sm-6 col-md-3 col-lg-3">

						<div class="price-table best font-alt">
							<h4>Advanced</h4>
							<p class="small">Best Choice</p>
							<div class="borderline"></div>
							<p class="price"><span>$</span>64</p>
							<ul class="price-details">
								<li>Free Support</li>
								<li>20 Demos Included</li>
								<li>Newsletter</li>
								<li>Working Contact Form</li>
								<li><span>Unlimited Domains</span></li>
							</ul>
							<a href="#" class="btn btn-d btn-round">blah</a>
						</div>

					</div>
					<!-- Price table end -->

					<!-- Price table start -->
					<div class="col-sm-6 col-md-3 col-lg-3">

						<div class="price-table font-alt">
							<h4>Ultimate</h4>
							<div class="borderline"></div>
							<p class="price"><span>$</span>119</p>
							<ul class="price-details">
								<li>Free Support</li>
								<li>15 Demos Included</li>
								<li>Newsletter</li>
								<li>Working Contact Form</li>
								<li>Unlimited Domains</li>
							</ul>
							<a href="#" class="btn btn-d btn-round">blah</a>
						</div>

					</div>
					<!-- Price table end -->

				</div><!-- .row -->

				<div class="row mt-40">

					<div class="col-sm-6 col-sm-offset-3 align-center">
						<p>Everyone realizes why a new common language would be desirable: one could refuse to pay expensive translators. To achieve this, it would be necessary to have uniform grammar, pronunciation and more common words.</p>
					</div>

				</div><!-- .row -->

			</div>
		</section>
		<!-- Pricing end -->

		<!-- Testimonials start -->
		<section class="module bg-dark-60 pt-0 pb-0" data-background="assets/images/section-7.jpg">

			<div class="testimonials-slider pt-140 pb-140">
				<ul class="slides">

					<!-- Slide 1 start -->
					<li>
						<div class="container">

							<div class="row">

								<div class="col-sm-12">
									<div class="module-icon">
										<span class="icon-quote"></span>
									</div>
								</div>

							</div><!-- .row -->

							<div class="row">

								<div class="col-sm-8 col-sm-offset-2">
									<blockquote class="testimonial-text font-alt">I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine.</blockquote>
								</div>

							</div><!-- .row -->

							<div class="row">

								<div class="col-sm-4 col-sm-offset-4">
									<div class="testimonial-author">
										<div class="testimonial-caption font-alt">
											<div class="testimonial-title">Jack Woods</div>
											<div class="testimonial-descr">SomeCompany INC, CEO</div>
										</div>
									</div>
								</div>

							</div><!-- .row -->

						</div><!-- .container -->
					</li>
					<!-- Slide 1 end -->

					<!-- Slide 2 start -->
					<li>
						<div class="container">

							<div class="row">

								<div class="col-sm-12">
									<div class="module-icon">
										<span class="icon-quote"></span>
									</div>
								</div>

							</div><!-- .row -->

							<div class="row">

								<div class="col-sm-8 col-sm-offset-2">
									<blockquote class="testimonial-text font-alt">I should be incapable of drawing a single stroke at the present moment; and yet I feel that I never was a greater artist than now.</blockquote>
								</div>

							</div><!-- .row -->

							<div class="row">

								<div class="col-sm-4 col-sm-offset-4">
									<div class="testimonial-author">
										<div class="testimonial-caption font-alt">
											<div class="testimonial-title">Jim Stone</div>
											<div class="testimonial-descr">SomeCompany INC, CEO</div>
										</div>
									</div>
								</div>

							</div><!-- .row -->

						</div><!-- .container -->
					</li>
					<!-- Slide 2 end -->

					<!-- Slide 3 start -->
					<li>
						<div class="container">

							<div class="row">

								<div class="col-sm-12">
									<div class="module-icon">
										<span class="icon-quote"></span>
									</div>
								</div>

							</div><!-- .row -->

							<div class="row">

								<div class="col-sm-8 col-sm-offset-2">
									<blockquote class="testimonial-text font-alt">I am so happy, my dear friend, so absorbed in the exquisite sense of mere tranquil existence, that I neglect my talents.</blockquote>
								</div>

							</div><!-- .row -->

							<div class="row">

								<div class="col-sm-4 col-sm-offset-4">
									<div class="testimonial-author">
										<div class="testimonial-caption font-alt">
											<div class="testimonial-title">Adele Snow</div>
											<div class="testimonial-descr">SomeCompany INC, CEO</div>
										</div>
									</div>
								</div>

							</div><!-- .row -->

						</div><!-- .container -->
					</li>
					<!-- Slide 3 end -->

				</ul>
			</div><!-- .testimonials-slider -->

		</section>
		<!-- Testimonials end -->

		<!-- Latest blog posts start -->
		<section id="news" class="module">
			<div class="container">

				<div class="row">

					<div class="col-sm-6 col-sm-offset-3">

						<h2 class="module-title font-alt">Latest blog posts</h2>
						<div class="module-subtitle font-serif">
							A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.
						</div>

					</div>

				</div><!-- .row -->

				<div class="row multi-columns-row post-columns">

					<!-- Post item start -->
					<div class="col-sm-6 col-md-4 col-lg-4">

						<div class="post mb-20">
							<div class="post-thumbnail">
								<a href="blog-single-left.html"><img src="assets/images/post-1.jpg" alt=""></a>
							</div>
							<div class="post-header font-alt">
								<h2 class="post-title"><a href="blog-single-left.html">Our trip to the Alps</a></h2>
								<div class="post-meta">
									By <a href="#">Mark Stone</a> | 23 November | 3 Comments
								</div>
							</div>
							<div class="post-entry">
								<p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
							</div>
							<div class="post-more">
								<a href="blog-single-right.html" class="more-link">Read more</a>
							</div>
						</div>

					</div>
					<!-- Post item end -->

					<!-- Post item start -->
					<div class="col-sm-6 col-md-4 col-lg-4">

						<div class="post mb-20">
							<div class="post-thumbnail">
								<a href="blog-single-left.html"><img src="assets/images/post-2.jpg" alt=""></a>
							</div>
							<div class="post-header font-alt">
								<h2 class="post-title"><a href="blog-single-left.html">Shore after the tide</a></h2>
								<div class="post-meta">
									By <a href="#">Andy River</a> | 11 November | 4 Comments
								</div>
							</div>
							<div class="post-entry">
								<p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
							</div>
							<div class="post-more">
								<a href="blog-single-right.html" class="more-link">Read more</a>
							</div>
						</div>

					</div>
					<!-- Post item end -->

					<!-- Post item start -->
					<div class="col-sm-6 col-md-4 col-lg-4">

						<div class="post mb-20">
							<div class="post-thumbnail">
								<a href="blog-single-left.html"><img src="assets/images/post-3.jpg" alt=""></a>
							</div>
							<div class="post-header font-alt">
								<h2 class="post-title"><a href="blog-single-left.html">We in New Zealand</a></h2>
								<div class="post-meta">
									By <a href="#">Dylan Woods</a> | 5 November | 15 Comments
								</div>
							</div>
							<div class="post-entry">
								<p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
							</div>
							<div class="post-more">
								<a href="blog-single-right.html" class="more-link">Read more</a>
							</div>
						</div>

					</div>
					<!-- Post item end -->

				</div><!-- .row -->

			</div>
		</section>
		<!-- Latest blog posts end -->

		<!-- Subscribe start -->
		<section class="module-small bg-dark">
			<div class="container">

				<div class="row">

					<div class="col-sm-6 col-md-6 col-lg-4 col-lg-offset-2">

						<div class="callout-text font-alt">
							<h3 class="callout-title">Subscribe now</h3>
							We will not spam your email.
						</div>

					</div>

					<div class="col-sm-6 col-md-6 col-lg-4">

						<div class="callout-btn-box">

							<form id="subscription-form" role="form">
								<div class="input-group">
									<input type="email" id="semail" name="semail" class="form-control" placeholder="Your Email" required data-validation-required-message="Please enter your email address.">
									<span class="input-group-btn">
										<button type="submit" class="btn btn-g btn-round">Submit</button>
									</span>
								</div>
							</form>

							<!-- Ajax response -->
							<div id="subscription-response" class="ajax-response"></div>

						</div>

					</div>

				</div><!-- .row -->

			</div>
		</section>
		<!-- Subscribe end -->

		<!-- Contact start -->
		<section id="contact" class="module">
			<div class="container">

				<div class="row">

					<div class="col-sm-6 col-sm-offset-3">

						<h2 class="module-title font-alt">Get in touch</h2>

					</div>

				</div><!-- .row -->

				<div class="row">

					<div class="col-sm-6 col-sm-offset-3">

						<form id="contact-form" role="form" novalidate="">

							<div class="form-group">
								<label class="sr-only" for="cname">Name</label>
								<input type="text" id="cname" class="form-control" name="cname" placeholder="Name*" required="" data-validation-required-message="Please enter your name.">
								<p class="help-block text-danger"></p>
							</div>

							<div class="form-group">
								<label class="sr-only" for="cemail">Your Email</label>
								<input type="email" id="cemail" name="cemail" class="form-control" placeholder="Your E-mail*" required="" data-validation-required-message="Please enter your email address.">
								<p class="help-block text-danger"></p>
							</div>

							<div class="form-group">
								<textarea class="form-control" id="cmessage" name="cmessage" rows="7" placeholder="Message*" required="" data-validation-required-message="Please enter your message."></textarea>
								<p class="help-block text-danger"></p>
							</div>

							<div class="text-center">
								<button type="submit" class="btn btn-block btn-round btn-d">Submit</button>
							</div>

						</form>

						<!-- Ajax response -->
						<div id="contact-response" class="ajax-response font-alt"></div>

					</div>

				</div><!-- .row -->

			</div>
		</section>
		<!-- Contact end -->

		<!-- Map start -->
		<section id="map-section">
			<div id="map"></div>
		</section>
		<!-- Map end -->

		<!-- Widgets start -->
		<div class="module-small bg-dark">
			<div class="container">

				<div class="row">

					<div class="col-sm-3">

						<!-- Widget start -->
						<div class="widget">
							<h5 class="widget-title font-alt">About Rival</h5>
							<p>The languages only differ in their grammar, their pronunciation and their most common words.</p>
							<p>Phone: +1 234 567 89 10<br>Fax: +1 234 567 89 10</p>
							<p>Email: <a href="#">somecompany@example.com</a></p>
						</div>
						<!-- Widget end -->

					</div>

					<div class="col-sm-3">

						<!-- Widget start -->
						<div class="widget">
							<h5 class="widget-title font-alt">Recent Comments</h5>
							<ul class="icon-list">
								<li>Maria on <a href="#">Designer Desk Essentials</a></li>
								<li>John on <a href="#">Realistic Business Card Mockup</a></li>
								<li>Andy on <a href="#">Eco bag Mockup</a></li>
								<li>Jack on <a href="#">Bottle Mockup</a></li>
								<li>Mark on <a href="#">Our trip to the Alps</a></li>
							</ul>
						</div>
						<!-- Widget end -->

					</div>

					<div class="col-sm-3">

						<!-- Widget start -->
						<div class="widget">
							<h5 class="widget-title font-alt">Categories</h5>
							<ul class="icon-list">
								<li><a href="#">Photography - 7</a></li>
								<li><a href="#">Web Design - 3</a></li>
								<li><a href="#">Illustration - 12</a></li>
								<li><a href="#">Marketing - 1</a></li>
								<li><a href="#">WordPress - 16</a></li>
							</ul>
						</div>
						<!-- Widget end -->

					</div>

					<div class="col-sm-3">

						<!-- Widget start -->
						<div class="widget">
							<h5 class="widget-title font-alt">Popular posts</h5>
							<ul class="widget-posts">

								<li class="clearfix">
									<div class="widget-posts-image">
										<a href="#"><img src="assets/images/rp-1.jpg" alt=""></a>
									</div>
									<div class="widget-posts-body">
										<div class="widget-posts-title">
											<a href="#">Designer Desk Essentials</a>
										</div>
										<div class="widget-posts-meta">
											23 November
										</div>
									</div>
								</li>

								<li class="clearfix">
									<div class="widget-posts-image">
										<a href="#"><img src="assets/images/rp-2.jpg" alt=""></a>
									</div>
									<div class="widget-posts-body">
										<div class="widget-posts-title">
											<a href="#">Realistic Business Card Mockup</a>
										</div>
										<div class="widget-posts-meta">
											15 November
										</div>
									</div>
								</li>

							</ul>
						</div>
						<!-- Widget end -->

					</div>

				</div><!-- .row -->

			</div>
		</div>
		<!-- Widgets end -->

		<!-- Divider -->
		<hr class="divider-d">
		<!-- Divider -->

		<!-- Footer start -->
		<footer class="footer bg-dark">
			<div class="container">

				<div class="row">

					<div class="col-sm-6">
						<p class="copyright font-alt">© 2015 <a href="index.html">Rival</a>, All Rights Reserved.</p>
					</div>

					<div class="col-sm-6">
						<div class="footer-social-links">
							<a href="#"><i class="fa fa-facebook"></i></a>
							<a href="#"><i class="fa fa-twitter"></i></a>
							<a href="#"><i class="fa fa-dribbble"></i></a>
							<a href="#"><i class="fa fa-skype"></i></a>
						</div>
					</div>

				</div><!-- .row -->

			</div>
		</footer>
		<!-- Footer end -->

	</div>
	<!-- Wrapper start -->

	<!-- Scroll-up -->
	<div class="scroll-up">
		<a href="#totop"><i class="fa fa-angle-double-up"></i></a>
	</div>
