<!DOCTYPE html>
<html>
<head>
  <title>WeddingSite</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicomatic/favicon.ico' %>
</head>
<body>
  <nav class="navbar navbar-custom navbar-transparent navbar-fixed-top one-page" role="navigation">

    <div class="container">

      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#custom-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to "Thorson & Rogers", root_path, class: "navbar-brand" %>
      </div>

      <div class="collapse navbar-collapse" id="custom-collapse">
        <ul class="nav navbar-nav navbar-right">

          <li><a href="#totop">Home</a></li>
          <li><a href="#about" class="section-scroll">Story</a></li>
          <li><a href="#features" class="section-scroll">Blog</a></li>
          <li><a href="#works" class="section-scroll">Party</a></li>
          <li><a href="#team" class="section-scroll">Events</a></li>
          <li><a href="#pricing" class="section-scroll">Registry</a></li>
          <li><a href="#news" class="section-scroll">FAQ</a></li>
          <% if current_user %>
            <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
          <% else %>
            <li><%= link_to 'Login', new_user_session_path %></li>
            <li><%= link_to 'Sign Up', new_user_registration_path %></li>
          <% end %>

        </ul>
      </div>
    </div>
  </nav>

<!--alerts-->
  <% flash.each do |key, value| %>
  <div data-alert class="flash flash-<%= key %> alert-box">
    <%= value %>
  </div>
  <% end %>
<!--/alerts-->

<%= yield %>

</body>
</html>
